/* GLOBAL  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Nunito", sans-serif;
}

/* Code by NamNguyen  */
@media screen and (max-width: 900px) {
  .container,
  .container-sm {
    max-width: 95%;
  }
}
/* About   */
.title {
  color: #dc4f72;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}
.about_title h3 {
  font-size: 35px;
  font-weight: 700;
  line-height: 40px;
}
.btn-danger {
  background-color: #dc4f72;
  font-size: 14px;
  font-weight: 700;
  padding: 15px 30px;
  text-transform: uppercase;
  border-color: #dc4f72;
  border-radius: 0.2rem;
  color: #fff;
}

.btn-danger:hover {
  color: #fff;
  background-color: #d62f58;
  border-color: #cf2952;
}
.about_img {
  padding-left: 3rem;
}
@media screen and (max-width: 600px) {
  .about_img {
    padding-left: 1rem;
    padding: auto;
  }
}
.t_img {
  width: 100%;
  height: auto;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: all 0.3s;
}
.t_img:hover {
  transform: translateY(-0.5rem);
  transition: all 0.3s;
}
.bg-white-line {
  background-color: #f7f9fc;
}
/* Number */
.static_title {
  background-color: #fff;
  padding: 2rem;
  border-radius: 7px;
  border: 1px solid #f8f9fa;
  box-shadow: 1px 5px 8px rgba(14, 13, 13, 0.2);
}
.static_title h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  margin: 0;
}
.static_title .counter {
  color: #dc4f72;
  font-size: 50px;
  font-weight: 700;
  margin: 10px 0 15px 0;
  line-height: 1;
}
.static_title p {
  margin: 0;
  font-size: 15.8px;
  font-weight: 400;
  color: #5a5a5a;
}
/* Weare */
.bground {
  background: linear-gradient(to right, rgb(32 30 30 / 82%), rgb(0 0 0 / 28%)),
    url(../img/cover.jpg);
  min-height: 480px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  background-attachment: fixed;
  padding: 2rem 0;
  display: grid;
}
.weare .bground .btn-light {
  color: black;
  background-color: white;
  border: 1px solid white;
  border-radius: 0.2rem;
  font-size: 14px;
  font-weight: 700;
  padding: 15px 30px;
  text-transform: uppercase;
  border-radius: 0.2rem;
}
.weare .bground .btn-light:hover {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}
.weare .bground .btn-light:focus {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
  box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}
.weare .weare-title {
  width: 550px;
}
@media screen and (max-width: 600px) {
  .weare .weare-title {
    width: 106%;
  }
}
.weare .weare-title h2 {
  font-size: 30px;
  color: white;
  font-weight: 700;
}
@media (max-width: 440px) {
  .weare .weare-title h2 {
    font-size: 26px;
  }
}
.weare .weare-title p {
  font-size: 16px;
  color: white;
}
@media (max-width: 667px) {
  .weare .weare-title p {
    font-size: 15px;
    line-height: 22px;
  }
}

/* Question */
.img_question img {
  width: 100%;
}
.question_title {
  max-width: 750px;
  margin: 0 auto;
}
.question_title h3 {
  font-size: 46px;
  font-weight: 700;
  margin: 0;
  line-height: 1;
}
.question_item ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.question_item ul li {
  position: relative;
  padding: 25px 50px 25px 20px;
  border: 10px solid white;
  margin-bottom: 15px;
  border-radius: 6px;
  background-color: white;
}
.question_item ul li h2 {
  font-size: 20px;
  font-weight: normal;
  margin: 0;
  cursor: pointer;
}
.question_item ul li p {
  font-size: 16px;
  line-height: 25px;
  margin: 14px 0 0 0;
  max-height: 800px;
}
.question_item ul li i {
  font-size: 15px;
  font-weight: 900;
  position: absolute;
  right: 25px;
  top: 16px;
}
.card {
  margin-bottom: 16px;
  border-radius: 6px;
}
.card-header {
  background-color: white;
  border-bottom: none;
  padding: 1rem 1rem 1rem 1rem;
}
.btn {
  font-size: 20px;
  font-weight: normal;
  padding: 0;
  color: #2c3038;
}
.card-body {
  padding: 0 1.25rem 1.65rem 1.25rem;
  font-size: 16px;
  max-height: 800px;
  font-weight: 400;
  color: #5a5a5a;
}
.icon {
  font-size: 15px;
  font-weight: 900;
  position: absolute;
  right: 20px;
  top: 30px;
}
.btn .fa-angle-up {
  display: none;
}
/* CSS tùy chỉnh cho hiệu ứng collapse */
.custom-collapse {
  display: block;
  animation: fadeIn 0.3s; /* Điều chỉnh thời gian và hiệu ứng ở đây */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px); /* Hiệu ứng từ dưới lên */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
